<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>turkey_eye</key>
	<string>{-75,-3}</string>
	<key>turkey_horn</key>
	<string>{-75,-3}</string>
	<key>turkey_nose</key>
	<string>{-75,-3}</string>
	<key>turkey_face</key>
	<string>{-75,-3}</string>
	<key>turkey_mouth</key>
	<string>{-75,-3}</string>
	<key>coloringType_line</key>
	<string>{-75,-3}</string>
</dict>
</plist>
