<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sealion_ball_block</key>
	<string>{22,132}</string>
	<key>sealion_belly_block</key>
	<string>{-65,-77}</string>
	<key>sealion_body_block</key>
	<string>{-109,-53}</string>
	<key>sealion_line</key>
	<string>{-99,-0.5}</string>
</dict>
</plist>
