<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ocean_crab_leg</key>
	<string>{-90,-6}</string>
	<key>ocean_crab_pincer</key>
	<string>{-90,-6}</string>
	<key>ocean_crab_claws</key>
	<string>{-90,-6}</string>
	<key>ocean_crab_chin</key>
	<string>{-90,-6}</string>
	<key>ocean_crab_carapace</key>
	<string>{-90,-6}</string>
	<key>ocean_crab_eye</key>
	<string>{-90,-6}</string>
	<key>ocean_crab_eyeLeg</key>
	<string>{-90,-6}</string>
	<key>coloringType_line</key>
	<string>{-90,-6}</string>
</dict>
</plist>
