*.DS_Store
/local.properties
/build
.externalNativeBuild
/main/jni/cocos2dx/Android.mk
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
*.aab
/captures
.gradle
.idea
*.iml
/V4/MyCppGame/MyCppGame/proj.android/app/.cxx
/V4/MyCppGame/MyCppGame/cocos2d/cocos/platform/android/libcocos2dx/build
/V4/MyCppGame/MyCppGame/cocos2d/cocos/platform/android/libcocos2dx/build
/V4/MyCppGame/MyCppGame/cocos2d/cocos/platform/android/libcocos2dx/build
