<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mechaanimal4_1</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_2</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_3</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_4</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_5</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_6</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_7</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_8</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_9</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_10</key>
	<string>{-75,-3}</string>
	<key>mechaanimal4_11</key>
	<string>{-75,-3}</string>
	<key>coloringType_line</key>
	<string>{-75,-3}</string>
</dict>
</plist>
