<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lizard_wooden_block</key>
	<string>{-67.5,-85}</string>
	<key>lizard_spot_block</key>
	<string>{-56,85}</string>
	<key>lizard_saddle_block</key>
	<string>{-81,-112}</string>
	<key>lizard_belly_block</key>
	<string>{10,109}</string>
	<key>lizard_body_block</key>
	<string>{-52.5,82}</string>
	<key>lizard_line</key>
	<string>{-52,1}</string>
</dict>
</plist>
