<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PD_belly_block</key>
	<string>{65.244,-154.892}</string>
	<key>PD_body_block</key>
	<string>{9.729,-160.335}</string>
	<key>PD_head_block</key>
	<string>{-23.789,105.006}</string>
	<key>PD_mouth_block</key>
	<string>{52.569,20.258}</string>
	<key>PD_pattern_block</key>
	<string>{9.976,-132.688}</string>
	<key>PD_horn_block</key>
	<string>{111.971,59.034}</string>
	<key>PD_tongue_block</key>
	<string>{3.181,-37.022}</string>
	<key>PD_line</key>
	<string>{-19,-3}</string>
</dict>
</plist>
