<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>line</key>
	<string>{-19,-3}</string>
	<key>body-block</key>
	<string>{-19.23,-34.884}</string>
	<key>belly-block</key>
	<string>{94.75,-65.828}</string>
	<key>mouth-block</key>
	<string>{101.3,178.401}</string>
	<key>head-block</key>
	<string>{70.332,200.014}</string>
	<key>thorn-block</key>
	<string>{-42.483,42.08}</string>
	<key>back-pattern-block</key>
	<string>{-72.496,4.991}</string>
</dict>
</plist>
