<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ST_body_block</key>
	<string>{-15.904,-3.647}</string>
	<key>ST_belly_block</key>
	<string>{15.978,-22.133}</string>
	<key>ST_pattern_block</key>
	<string>{-36.142,-10.374}</string>
	<key>ST_spine_block</key>
	<string>{-204.07,106.925}</string>
	<key>ST_mouth_block</key>
	<string>{-76.893,148.165}</string>
	<key>ST_line</key>
	<string>{-19,-3}</string>
</dict>
</plist>
