<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ostrich_mouse_block</key>
	<string>{-165,215}</string>
	<key>ostrich_football_block</key>
	<string>{-137,-172}</string>
	<key>ostrich_leg_block</key>
	<string>{-72,-138}</string>
	<key>ostrich_wings_block</key>
	<string>{24,107}</string>
	<key>ostrich_neck_block</key>
	<string>{-105,122}</string>
	<key>ostrich_body_block</key>
	<string>{2.8,17.5}</string>
	<key>ostrich_line</key>
	<string>{-62,0}</string>
</dict>
</plist>
