<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dino_chefman_1</key>
	<string>{-75,-3}</string>
	<key>dino_chefman_2</key>
	<string>{-75,-3}</string>
	<key>dino_chefman_3</key>
	<string>{-75,-3}</string>
	<key>dino_chefman_4</key>
	<string>{-75,-3}</string>
	<key>coloringType_line</key>
	<string>{-75,-3}</string>
</dict>
</plist>
