<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dino_tr_belly</key>
	<string>{-52,-3}</string>
	<key>dino_tr_body</key>
	<string>{-52,-3}</string>
	<key>dino_tr_eye</key>
	<string>{-52,-3}</string>
	<key>coloringType_line</key>
	<string>{-52,-3}</string>
</dict>
</plist>
