<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animalprincess9_1</key>
	<string>{-75,-3}</string>
	<key>animalprincess9_2</key>
	<string>{-75,-3}</string>
	<key>animalprincess9_3</key>
	<string>{-75,-3}</string>
	<key>animalprincess9_4</key>
	<string>{-75,-3}</string>
	<key>animalprincess9_5</key>
	<string>{-75,-3}</string>
	<key>animalprincess9_6</key>
	<string>{-75,-3}</string>
	<key>animalprincess9_7</key>
	<string>{-75,-3}</string>
	<key>coloringType_line</key>
	<string>{-75,-3}</string>
</dict>
</plist>
