<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ocean_clownfish_body</key>
	<string>{-80,-6}</string>
	<key>ocean_clownfish_body2</key>
	<string>{-80,-6}</string>
	<key>ocean_clownfish_back</key>
	<string>{-80,-6}</string>
	<key>ocean_clownfish_fins</key>
	<string>{-80,-6}</string>
	<key>ocean_clownfish_mouth</key>
	<string>{-80,-6}</string>
	<key>ocean_clownfish_eye</key>
	<string>{-80,-6}</string>
	<key>coloringType_line</key>
	<string>{-80,-6}</string>
</dict>
</plist>
