<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dino_bd_leg</key>
	<string>{-72,-3}</string>
	<key>dino_bd_body</key>
	<string>{-72,-3}</string>
	<key>dino_bd_speck</key>
	<string>{-72,-3}</string>
	<key>dino_bd_eye</key>
	<string>{-72,-3}</string>
	<key>coloringType_line</key>
	<string>{-72,-3}</string>
</dict>
</plist>
