<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SP_body_block</key>
	<string>{-5.161,-133.554}</string>
	<key>SP_belly_block</key>
	<string>{1.939,-155.189}</string>
	<key>SP_head_block</key>
	<string>{-56.164,106.6}</string>
	<key>SP_spine_block</key>
	<string>{-53.33,88.603}</string>
	<key>SP_mouth_block</key>
	<string>{29.233,24.703}</string>
	<key>SP_tongue_block</key>
	<string>{17.221,21.987}</string>
	<key>SP_line</key>
	<string>{-19,-3}</string>
</dict>
</plist>
