<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>littleLamb_head</key>
	<string>{-75,-3}</string>
	<key>littleLamb_ear</key>
	<string>{-75,-3}</string>
	<key>littleLamb_eye</key>
	<string>{-75,-3}</string>
	<key>littleLamb_face</key>
	<string>{-75,-3}</string>
	<key>coloringType_line</key>
	<string>{-75,-3}</string>
</dict>
</plist>
