<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BD_belly_block</key>
	<string>{33.86,-9.718}</string>
	<key>BD_body_block</key>
	<string>{-19.197,-43.268}</string>
	<key>BD_head_block</key>
	<string>{-64.268,233.169}</string>
	<key>BD_mouth_block</key>
	<string>{-56.859,210.732}</string>
	<key>BD_pattern_block</key>
	<string>{-23.408,-33.451}</string>
	<key>BD_line</key>
	<string>{-19,-3}</string>
</dict>
</plist>
