<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>joker_black_block</key>
	<string>{-32,10}</string>
	<key>joker_red_block</key>
	<string>{-50,43}</string>
	<key>joker_cloth_block</key>
	<string>{-49,-95}</string>
	<key>joker_face_block</key>
	<string>{-56,78}</string>
	<key>joker_clothes_block</key>
	<string>{-55.5,-67}</string>
	<key>joker_body_block</key>
	<string>{-55,29}</string>
	<key>joker_line</key>
	<string>{-49,0}</string>
</dict>
</plist>
