<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mechaanimal10_1</key>
	<string>{-75,-3}</string>
	<key>mechaanimal10_2</key>
	<string>{-75,-3}</string>
	<key>mechaanimal10_3</key>
	<string>{-75,-3}</string>
	<key>mechaanimal10_4</key>
	<string>{-75,-3}</string>
	<key>mechaanimal10_5</key>
	<string>{-75,-3}</string>
	<key>mechaanimal10_6</key>
	<string>{-75,-3}</string>
	<key>mechaanimal10_7</key>
	<string>{-75,-3}</string>
	<key>mechaanimal10_8</key>
	<string>{-75,-3}</string>
	<key>mechaanimal10_9</key>
	<string>{-75,-3}</string>
	<key>coloringType_line</key>
	<string>{-75,-3}</string>
</dict>
</plist>
