<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lion_stick_block</key>
	<string>{-48,-10.5}</string>
	<key>lion_fire_block</key>
	<string>{-50,-9.5}</string>
	<key>lion_hair_block</key>
	<string>{45,61.5}</string>
	<key>lion_body_block</key>
	<string>{10,14}</string>
	<key>lion_line</key>
	<string>{-46,0}</string>
</dict>
</plist>
