<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bee_eye</key>
	<string>{-85,-3}</string>
	<key>bee_face</key>
	<string>{-85,-3}</string>
	<key>coloringType_line</key>
	<string>{-85,-3}</string>
</dict>
</plist>
