<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pet_dog4_head</key>
	<string>{-50,-6}</string>
	<key>pet_dog4_ear</key>
	<string>{-50,-6}</string>
	<key>pet_dog4_eye</key>
	<string>{-50,-6}</string>
	<key>pet_dog4_belly</key>
	<string>{-50,-6}</string>
	<key>pet_dog4_body</key>
	<string>{-50,-6}</string>
	<key>coloringType_line</key>
	<string>{-50,-6}</string>
</dict>
</plist>
