<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chefPanda_eye</key>
	<string>{-75,-3}</string>
	<key>chefPanda_hat</key>
	<string>{-75,-3}</string>
	<key>chefPanda_brim</key>
	<string>{-75,-3}</string>
	<key>chefPanda_nose</key>
	<string>{-75,-3}</string>
	<key>chefPanda_ear</key>
	<string>{-75,-3}</string>
	<key>chefPanda_face</key>
	<string>{-75,-3}</string>
	<key>coloringType_line</key>
	<string>{-75,-3}</string>
</dict>
</plist>
