<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>monkey_belly_block</key>
	<string>{-51.5,-20.5}</string>
	<key>monkey_body_block</key>
	<string>{-31,17.5}</string>
	<key>monkey_line</key>
	<string>{-50,-15}</string>
</dict>
</plist>
