<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColoringType_1_2</key>
	<dict/>
	<key>ColoringType_1_3</key>
	<dict/>
	<key>ColoringType_1_4</key>
	<dict/>
	<key>ColoringType_1_5</key>
	<dict/>
	<key>ColoringType_1_6</key>
	<dict/>
	<key>ColoringType_1_7</key>
	<dict/>
	<key>ColoringType_1_8</key>
	<dict/>
	<key>ColoringType_3_1</key>
	<dict/>
	<key>ColoringType_3_2</key>
	<dict/>
	<key>ColoringType_3_3</key>
	<dict/>
	<key>ColoringType_3_4</key>
	<dict/>
	<key>ColoringType_3_5</key>
	<dict/>
	<key>ColoringType_3_6</key>
	<dict/>
	<key>ColoringType_3_7</key>
	<dict/>
	<key>ColoringType_3_8</key>
	<dict/>
</dict>
</plist>
