<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GD_body_block</key>
	<string>{62.486,-112.217}</string>
	<key>GD_belly_block</key>
	<string>{108.266,-200.733}</string>
	<key>GB_head_block</key>
	<string>{37.245,127.836}</string>
	<key>GD_horn_block</key>
	<string>{-122.067,224.58}</string>
	<key>GD_mouse_block</key>
	<string>{46.292,78.292}</string>
	<key>GD_pattern_block</key>
	<string>{-29.047,-62.558}</string>
	<key>GD_line</key>
	<string>{-19,-3}</string>
</dict>
</plist>
