<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hedgehog_belly_block</key>
	<string>{-123,-109}</string>
	<key>hedgehog_body_block</key>
	<string>{-104,-43.6}</string>
	<key>hedgehog_back_block</key>
	<string>{-29,16.5}</string>
	<key>hedgehog_line</key>
	<string>{-49,-10}</string>
</dict>
</plist>
