<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dolphin_white_block</key>
	<string>{-39,-61}</string>
	<key>dolphin_body_block</key>
	<string>{-95.7,-77.6}</string>
	<key>dolphin_ball_block</key>
	<string>{30,166.6}</string>
	<key>dolphin_line</key>
	<string>{-50,-6}</string>
</dict>
</plist>
