<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elephant_ball_block</key>
	<string>{-41,1.6}</string>
	<key>elephant_flower_block</key>
	<string>{-53.6,-177.5}</string>
	<key>elephant_ear_block</key>
	<string>{-63.5,166.5}</string>
	<key>elephant_belly_block</key>
	<string>{-60,38.5}</string>
	<key>elephant_back_block</key>
	<string>{-46,54}</string>
	<key>elephant_line</key>
	<string>{-54,-7}</string>
</dict>
</plist>
