<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zoo_rabbit_head</key>
	<string>{-50,-6}</string>
	<key>zoo_rabbit_hair</key>
	<string>{-50,-6}</string>
	<key>zoo_rabbit_mouth</key>
	<string>{-50,-6}</string>
	<key>zoo_rabbit_ear</key>
	<string>{-50,-6}</string>
	<key>zoo_rabbit_body</key>
	<string>{-50,-6}</string>
	<key>zoo_rabbit_belly</key>
	<string>{-50,-6}</string>
	<key>zoo_rabbit_eye</key>
	<string>{-50,-6}</string>
	<key>zoo_rabbit_tooth</key>
	<string>{-50,-6}</string>
	<key>coloringType_line</key>
	<string>{-50,-6}</string>
</dict>
</plist>
