<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unicorn_ear_block</key>
	<string>{3,-79}</string>
	<key>unicorn_angle_block</key>
	<string>{-71,241}</string>
	<key>unicorn_hair_block</key>
	<string>{-58,-11}</string>
	<key>unicorn_belly_block</key>
	<string>{-61,-90}</string>
	<key>unicorn_body_block</key>
	<string>{-51,-26}</string>
	<key>unicorn_line</key>
	<string>{-55,0}</string>
</dict>
</plist>
