<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dolphin1_mouse_block</key>
	<string>{-136,-202}</string>
	<key>dolphin1_ball_block</key>
	<string>{70,177}</string>
	<key>dolphin1_belly_block</key>
	<string>{-59,-211}</string>
	<key>dolphin1_body_block</key>
	<string>{-43,-84}</string>
	<key>dolphin1_line</key>
	<string>{-48,-21}</string>
</dict>
</plist>
